<!Doctype html>
<html>
  <head>
    <title> This is a Template </title>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/style/content.css">
    <link rel="stylesheet" type="text/css" href="/style/cards.css">
    <link rel="stylesheet" type="text/css" href="/style/article.css">
    <meta charset="UTF-8"> 
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <!-- This is the Header of the Page -->
    <header>
      <div id="title">
        <h1><span class="color0">ACM</span><span class="color1">@</span><span class="color2">USC</span></h1>
        <p> Association of Computing Machinery at the University of South Carolina </p>
      </div>
      <div id="menu">
        <ul>
          <!-- For Dropdown Menus: the <li> element must be in class "dropdown" -->
          <li class="dropdown">
            <a href="https://google.com"> Home </a>
            <div class="dropdownContent">
              <p> Hello World </p>
              <p> Hello World </p>
              <p> This should be a Link! </p>
              <a href="#"> Link! </a>
            </div>
          </li>
          <li><span class="current"> Help </span></li>
          <li><span> About Us </span></li>
          <li class="dropdown">
            <span> ... </span>
            <div class="dropdownContent">
              <p> Hello World </p>
              <p> Hello World </p>
              <p> This should be a Link! </p>
              <a href="#"> Link! </a>
            </div>
          </li>
          <li><span> Lorem </span></li>
          <li><span> ipsum </span></li>
          <li><a href="https://duckduckgo.com"> Test Link </a></li>
        </ul>
      </div>
    </header>
    
    <!-- this is the content of the page -->
    <main class="">
      <div class="container">
