      </section>
    </main>
    
    <!-- this is the footer of the page -->
    <footer>
      <div id="footer-top">
        <table>
          <tbody>
            <tr>
              <td>
                <dl>
                  <dt class="color0"><a href="https://cse.sc.edu"> Section Title </a></dt>
                  <dd><a href="https://sc.edu"> link </a></dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt class="color1"><a href="https://cse.sc.edu"> Section Title </a></dt>
                  <dd><a href="https://sc.edu"> link </a></dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt class="color2"><a href="https://cse.sc.edu"> Section Title </a></dt>
                  <dd><a href="https://sc.edu"> link </a></dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt class="color3"><a href="https://cse.sc.edu"> Section Title </a></dt>
                  <dd><a href="https://sc.edu"> link </a></dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                  <dd> link </dd>
                </dl>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="footer-bottom">
        <table>
          <tr>
            <td> Template Test </td>
            <td> 2018 - GradeForge </td>
            <td> Other... </td>
          </tr>
        </table>
      </div>
    </footer>
  </body>
</html>
