<!Doctype html>
<html>
  <head>
    <title> This is a Landing Page </title>
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <link rel="stylesheet" type="text/css" href="style/header.css">
    <link rel="stylesheet" type="text/css" href="style/footer.css">
    <link rel="stylesheet" type="text/css" href="style/content.css">
    <link rel="stylesheet" type="text/css" href="style/cards.css">
    <link rel="stylesheet" type="text/css" href="style/article.css">
    <meta charset="UTF-8"> 
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <!-- This is the Header of the Page -->
    <header>
      <div id="title">
        <h1><span class="color0">Grade</span><span class="color1">Forge</span></h1>
      </div>
      <div id="menu">
        <ul>
          <!-- For Dropdown Menus: the <li> element must be in class "dropdown" -->
          <li class="dropdown">
            <a href="https://google.com"> Home </a>
            <div class="dropdownContent">
              <p> Hello World </p>
              <p> Hello World </p>
              <p> This should be a Link! </p>
              <a href="#"> Link! </a>
            </div>
          </li>
          <li><span class="current"> Help </span></li>
          <li><span> About Us </span></li>
          <li class="dropdown">
            <span> ... </span>
            <div class="dropdownContent">
              <a href="#1"> Section 1 </a>
              <a href="#2"> Section 2 </a>
              <a href="#3"> Section 3 </a>
              <a href="#4"> Section 4 </a>
              <a href="#5"> Section 5 </a>
              <a href="#6"> Section 6 </a>
              <a href="#7"> Section 7 </a>
              <a href="#8"> Section 8 </a>
              <a href="#9"> Section 9 </a>
            </div>
          </li>
          <li><span> Lorem </span></li>
          <li><span> ipsum </span></li>
          <li class="dropdown">
            <a href="https://duckduckgo.com"> Test Link </a>
            <div class="dropdownContent">
              <a href="#1"> Section 1 </a>
              <a href="#2"> Section 2 </a>
              <a href="#3"> Section 3 </a>
              <a href="#4"> Section 4 </a>
              <a href="#5"> Section 5 </a>
              <a href="#6"> Section 6 </a>
              <a href="#7"> Section 7 </a>
              <a href="#8"> Section 8 </a>
              <a href="#9"> Section 9 </a>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <section class="titlecard grayscale">
      <h1> Here are Some Articles ! </h1>
    </section>
    <section id="articles">
